extends ../includes/head-inc

block styles
	link(rel="stylesheet", href="/css/post.css")
	link(rel="stylesheet", href="/css/create-post-form.css")

block title
	title Test
block content
	main.content
		hr
		h1.content__title-h1 Create post
		form.form(action="/post/create-post", method="post")
			label.label(for="input-title" ) Title post
				input#input-title(type="text", name="title")
			label.label(for="input-content" ) Content post
				textarea#input-content(name="content", cols="30", rows="10")
			button.button-submit(type="submit") Create post



