extends ../includes/head-inc

block styles
    link(rel="stylesheet", href="/css/post.css")
    link(rel="stylesheet", href="/css/post.css")

block title 
    title Test
block content
    main.content 
        hr
        include short-post

