if posts.length > 0
	h1.content__title-h1 Posts
	article.post-list
		each post in posts
			section.post
				h2.post__title-h2 #{post.title}
				p.post__short-description #{post.content}
				p.post__name-creator
					span.name-creator__author Author:
					| #{post.creator.name}
				ul.post__button-item-list
					li.post__button-item
						a.post__button(href=("/post/"+post._id)) View
					if isLoggedIn
						if isCreator == post.creator._id
							li.post__button-item
								a.post__button(href=("/post/"+post._id +"/update")) Edit
							li.post__button-item
								form(action="/post/"+post._id+"/delete", method="POST")
									button.post__button(type="submit") Delete
					li.post__button-item.count-comments Comments: #{post.comments.length}
else
	h1.content__title-h1 Posts not found
