section.post
    h2.post__title-h2 Title Post
    p.post__short-description Some short description
    p.post__name-creator Author name
    ul.post__button-item-list
        li.post__button-item
            button.post__button View
        li.post__button-item
            button.post__button Edit
        li.post__button-item
            button.post__button Delete

