doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="/css/header.css")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/index.css")
        block styles

        block title 
    body
        div.container
            header.main-header
                nav.main-header__nav
                    ul.main-header__item-list
                        li.main-header__item
                            a.main-header__link(href="/post" class=(path==="/post"?"active-page":"")) Main
                        li.main-header__item 
                               p.main-header__pseudo-link(href="/post/create-post" class=(path==="/post/"+paramId ? "active-page":"")) Post
                        li.main-header__item
                            a.main-header__link(href="/post/create-post" class=(path==="/create-post"?"active-page":"")) Create post
                    ul.main-header__auth-list
                        if !isLoggedIn
                            li.main-header__item
                                a.main-header__link(href="/login" class=(path==="/login"? "active-page":"")) Login
                            li.main-header__item
                                a.main-header__link(href="/sign-in" class=(path==="/sign-in"? "active-page":"")) Sign in
                        if isLoggedIn
                            li.main-header__item
                                form(action="/log-out" method="POST")
                                    button.main-header__link(type="submit") Log out

            block content
