if cdPost > POST_PER_PAGE
	section.pagination
		// стрелка для перемещения на предыдущую страницу
		if (previousPage != 1 && currentPage != 1)
			a.pagination__button.button__arrow(href=(oldSearch && oldSearch !==undefined ? "?page="+previousPage+"&search="+oldSearch:"?page="+previousPage)) prev
		else
			a.pagination__button.button__arrow(href=(oldSearch && oldSearch !==undefined ? "?page="+1+"&search="+oldSearch:"?page="+1)) prev

		if (currentPage != 1 && previousPage != 1)
			a.pagination__page(href=( oldSearch && oldSearch !==undefined ? "?page=1"+previousPage+"&search="+oldSearch:"?page=1") ) 1
		if (previousPage)
			a.pagination__page(href=(oldSearch && oldSearch !==undefined ? "?page="+previousPage+"&search="+oldSearch:"?page="+previousPage)) #{previousPage}

		a.pagination__page.active(href=(oldSearch && oldSearch !==undefined ? "?page="+currentPage+"&search="+oldSearch:"?page="+currentPage)) #{currentPage}

		if (hasNextPage)
			a.pagination__page(href=(oldSearch && oldSearch !==undefined ? "?page=" + nextPage+"&search="+oldSearch:"?page=" + nextPage)) #{nextPage}
		if (lastPage != currentPage && nextPage != lastPage)
			a.pagination__page(href=(oldSearch && oldSearch !==undefined ? "?page=" + lastPage+"&search="+oldSearch:"?page=" + lastPage)) #{lastPage}

		// стрелка для перемещения на следующую страницу
		if (nextPage != lastPage && lastPage != currentPage )
			a.pagination__button.button__arrow(href=(oldSearch && oldSearch !==undefined ? "?page=" + nextPage+"&search="+oldSearch:"?page=" + nextPage)) next
		else
			a.pagination__button.button__arrow(href=(oldSearch && oldSearch !==undefined ? "?page=" + lastPage+"&search="+oldSearch:"?page=" + lastPage)) next