
.content{
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	width: 600px;
}
.post__title-h2{
	color: rgb(147, 59, 165);
	font-size: 25px;

}

.post__content{
	text-align: justify;
	line-height: 25px;
	text-indent: 30px;
}