.post-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.post {
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border: 1px solid rgb(147, 59, 165);
    border-radius: 15px;
    background-color: beige;
    max-width: 560px;
}
.post__title-h2 {
    font-size: 18px;
}
.post__name-creator {
    margin-left: auto;
}

.post__short-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.post__name-creator {
    font-size: 22px;
    color: rgb(147, 59, 165);
}
.name-creator__author{
    color: black;
    font-size: 20px;
}
.post__button-item-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.post__button-item {

}
.post__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 25px;
    width: 60px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: inherit;
    color: black;
}

a .post__button{

}

.post__button:hover {
    cursor: pointer;
    border: 1px solid rgb(147, 59, 165);
    background-color: rgb(147, 59, 165);
    color: #ffffff;
    border-radius: 5px;
}
