form.form-search(action=path)
	label.form-search__label(for="input-search") Enter the names of the post
	.form-search__content
		.search-wrapper
			input.form-search__input#input-search(type="text" name="search" value=( oldSearch))
			span.form-search__clean--border
			button.form-search__clean.hidden(type="submit") Х
		button.form-search__btn-submit(type="submit") Search